<a href="https://colab.research.google.com/github/BooEiEi/data_viz_2022/blob/main/BasicPython%26DataViz_midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ให้นักศึกษาใช้ข้อมูลจากตาราง confirmed_case.xlsx (จาก https://drive.google.com/drive/folders/1OmjM8ZgkEb10C4ZN44f-JxiBFaBwbWaM?usp=sharing) และข้อมูลจากตาราง 

ตอบคำถามต่อไปนี้ (โดยแสดงของการจัดภูมิภาคทั้ง 4 แบบ ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา และ การท่องเที่ยว) คะแนนเต็ม 100 คะแนน โดยคะแนน Midterm คิดเป็น 30% ของคะแนนทั้งหมด

เตรียมข้อมูล (20 คะแนน)

อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

มีอะไรสามารถโพสสอบถามได้ใน facebook group ภายใต้โพสของข้อสอบนี้

(คะแนน midterm เป็นคะแนนกลุ่ม)

In [5]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd

In [6]:
import os

In [7]:
from google.colab import drive #นำเข้าข้อมูลจาก drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
data_file_path = os.path.join(path,'confirmed-cases.csv')
data_df = pd.read_csv(data_file_path)

In [9]:
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [10]:
data_t = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '4 ภูมิภาค (การเมือง)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '6 ภูมิภาค (อุตุนิยมวิทยา)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
            '5 ภูมิภาค (การท่องเที่ยว)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}
df_t = pd.DataFrame.from_dict(data_t)
df_t

       จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ  ...        ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...        ตะวันออกเฉียงเหนือ
..         ...  ...                       ...
72       พังงา  ...                       ใต้
73      ภูเก็ต  ...                       ใต้
74       ระนอง  ...                       ใต้
75        สตูล  ...                       ใต้
76        ตรัง  ...                       ใต้

[77 rows x 5 columns]

In [11]:
set(data_df['province_of_onset']) # ดูข้อมูลของคอลัมน์ 'province_of_onset'

{nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'ขัยนาท',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสวรรค์',
 'นตรปฐม',
 'นนทบุรี',
 'นราธิวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บ้านหลวง',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ปมุมธานี',
 'ประจวบคีรีขันธ์',
 'ประจวบฯ',
 'ปราจีนบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปัตตานี',
 'ปัว',
 'ปุทมธานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลอง',
 'ลาดพร้าว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังชิ้น',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมถทรปราการ',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทราปราการ',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สอง',
 'สองแคว',
 'สะแก้ว',
 'สารภี',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี',
 'สุราษฏร์ธานี',
 'สุรินทร์',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุโขทัย',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวลำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุดรธานีี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่างทอง',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เด่นชัย',
 'เพชรบุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เมือง',
 'เมืองน่าน',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'ไม่ระบุ'}

In [12]:
set(data_df['province_of_isolation'])# ดูข้อมูลของคอลัมน์ 'province_of_isolation'

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [13]:
set(data_df['risk'])    # ดูข้อมูลของคอลัมน์ 'risk'

{' Samui plus',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'SHUI',
 'Samui plus',
 'Sandbox',
 'State Quarantine',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 nan,
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ทัณฑสถาน/เรือนจำ',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อ',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อิ่นๆ',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น'}

In [14]:
data_df['province_of_onset'].replace({'\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                         '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กาฬสินธิ์':'กาฬสินธุ์',
                                         'กาฬสินธ์':'กาฬสินธุ์','ขอนแก่่น':'ขอนแก่น','ชลบุรี\t':'ชลบุรี','ชุุมพร':'ชุมพร','ท้ายบ้าน':'สมุทรปราการ',
                                         'นครปบม':'นครปฐม','ธารโต':'ยะลา','นครศร๊ะรรมราช':'นครศรีธรรมราช','นตรปฐม':'นครปฐม','นาราธิวาส':'นราธิวาส',
                                         'นาวัง':'หนองบัวลำภู','บางกะปิ':'กรุงเทพมหานคร','บึงโขงหลง':'บึงกาฬ','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์',
                                         'บ้านหลวง':'น่าน','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี',
                                         'ประจวบฯ':'ประจวบคีรีขันธ์','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่','ปัว':'น่าน','ปุทมธานี':'ปทุมธานี',
                                         'พิษณูโลก':'พิษณุโลก','ภูเพียง':'น่าน','มหาสาคาม':'มหาสารคาม','ยานนาวา':'กรุงเทพมหานคร','ร้องกวาง':'แพร่',
                                         'ลอง':'แพร่','ลาดพร้าว':'กรุงเทพมหานคร','ลำลูกกา':'ปทุมธานี','วังชิ้น':'ลำปาง','ศรีษะเกษ':'ศรีสะเกษ',
                                         'สงขลา\u200b':'สงขลา','สมถทรปราการ':'สมุทรปราการ','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
                                         'สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทราปราการ':'สมุทรปราการ','สมุทสงคราม':'สมุทรสงคราม',
                                         'สมุทสาคร':'สมุทรสาคร','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสาคร':'สมุทรสาคร','สอง':'แพร่','สองแคว':'น่าน',
                                         'สะแก้ว':'สระแก้ว','สารภี':'เชียงใหม่','สุทรปราการ':'สมุทรปราการ','สุมทรสาคร':'สมุทรสาคร','สุราษฎร์์ธานี':'สุราษฎร์ธานี',
                                         'สุราษฏร์ธานี':'สุราษฎร์ธานี','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สูงเม่น':'แพร่','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่',
                                         'อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา','อุดรธานีี':'อุดรธานี','อุบลราขธานี':'อุบลราชธานี',
                                         'อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','เชีียงราย':'เชียงราย','เด่นชัย':'แพร่',
                                         'เพชรบุูรณ์':'เพชรบูรณ์','เมือง':'แพร่','เมืองน่าน':'น่าน','เรือ':'เลย','เวียงสา':'น่าน','\xa0สมุทรสาคร':'สมุทรสาคร',
                                         'สุมทรปราการ':'สมุทรปราการ','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','ชลบุุรี':'ชลบุรี','นคนปฐม':'นครปฐม',
                                         'นคปฐม':'นครปฐม','ขัยนาท':'ชัยนาท','ชมพร':'ชุมพร','นครนาชสีมา':'นครราชสีมา'}, inplace=True)# แก้ไขข้อมูลที่พิมพ์จังหวัดผิด ให้อยู่ในชื่อจังหวัดที่ถูกต้อง

In [16]:
data_df['risk'].replace({'อิ่นๆ':'อื่น ๆ','อื่น':'อื่น ๆ','อื่นๆ':'อื่น ๆ','อยู่ระหว่างการสอบสวน\n':'อยู่ระหว่างการสอบสวน','อยู่ระหว่างสอบสวน':'อยู่ระหว่างการสอบสวน','ระหว่างสอบสวน':'อยู่ระหว่างการสอบสวน'}, inplace=True) #inplace=True คือค่าที่แทนที่จะแทนค่าdata_fdfตัวเก่า

In [15]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'นอกเขต',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สถานที่ทำงาน',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุวรรณภูมิ',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'เวียงจันทร์',
 'แพร่',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'ไม่ระบุ'}

In [17]:
set(data_df['risk'])    # ดูข้อมูลของคอลัมน์ 'risk'

{' Samui plus',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'SHUI',
 'Samui plus',
 'Sandbox',
 'State Quarantine',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 nan,
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ทัณฑสถาน/เรือนจำ',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อ',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อื่น ๆ',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น'}

In [18]:
data_df['age'].mean() #หาค่าเฉลี่ยของอายุ

35.67704043728804

In [19]:
data_df = data_df.fillna(value={'age':data_df['age'].mean()}) #แทนค่าข้อมูลว่างคอลัมน์ age ด้วยค่าเฉลี่ย
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [20]:
data_df.isnull().any() #เช็คข้อมูลในแต่ละคอลัมน์มีค่าว่างหรือป่าว

No.                      False
announce_date            False
Notified date             True
sex                       True
age                      False
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [21]:
data_df1 = data_df.fillna(method="bfill") #ใช้ bfill คือการแทนที่ด้วยค่าถัดไปคือการนำค่าถัดไปที่มีค่า ของเซลล์ตัวเองมาแทนที่ลงในช่องที่เป็น NaN
data_df1.isnull().any() #เช็คข้อมูลในแต่ละคอลัมน์อีกครั้ง

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [22]:
data_df1

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร             เมือง
1            2     17/1/2020  ...     กรุงเทพมหานคร             เมือง
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร            หัวหิน
4            5     24/1/2020  ...     กรุงเทพมหานคร            หัวหิน
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [23]:
data1 = data_df1.merge(df_t,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')# ตารางด้านซ้าย.merge(ตารางด้านขวา,how=เอาตารางไหนเป็นตารางหลัก,left_on=indexตารางซ้ายคืออะไรหรือคีร์ที่ใช้เชื่อม,right_on=indexตารางขวา)
data1

           No.  ... 5 ภูมิภาค (การท่องเที่ยว)
0          973  ...        ตะวันออกเฉียงเหนือ
1         1864  ...        ตะวันออกเฉียงเหนือ
2         6493  ...        ตะวันออกเฉียงเหนือ
3         7390  ...        ตะวันออกเฉียงเหนือ
4        31038  ...        ตะวันออกเฉียงเหนือ
...        ...  ...                       ...
816925  807715  ...                       ใต้
816926  807716  ...                       ใต้
816927  807717  ...                       ใต้
816928  807718  ...                       ใต้
816929  807719  ...                       ใต้

[816930 rows x 16 columns]

## ข้อ1 อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

###6 ภูมิภาค (ภูมิศาสตร์)

In [24]:
data30 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]

In [25]:
data2= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออกเฉียงเหนือ'] #เปิด data30 ดึง column 6 ภูมิภาค โดยดึงภาคตะวันออกเหนือ 
data2.head(1) #แสดงหัวตารางแค่ 1 แถว

   No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0  973     26/3/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [26]:
data3= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='เหนือ']
data3.head(1)

       No. announce_date  ...    จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
54854   17     31/1/2020  ...  เชียงใหม่                  เหนือ

[1 rows x 13 columns]

In [27]:
data4= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันตก']
data4.head(1)

       No. announce_date  ... จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
88595  779     24/3/2020  ...     ตาก                ตะวันตก

[1 rows x 13 columns]

In [28]:
data5= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='กลาง']
data5.head(1)

       No. announce_date  ...  จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
99620  128     16/3/2020  ...  สุโขทัย                   กลาง

[1 rows x 13 columns]

In [29]:
data6= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออก']
data6.head(1)

        No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
629960  120     16/3/2020  ...  ฉะเชิงเทรา               ตะวันออก

[1 rows x 13 columns]

In [30]:
data7= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ใต้']
data7.head(1)

         No. announce_date  ... จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
748605  1530     31/3/2020  ...   ชุมพร                    ใต้

[1 rows x 13 columns]

###4 ภูมิภาค (การเมือง)

In [31]:
data31 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','4 ภูมิภาค (การเมือง)']]

In [32]:
data8= data31[data31['4 ภูมิภาค (การเมือง)']=='ตะวันออกเฉียงเหนือ']
data8.head(1)

   No. announce_date  ...     จังหวัด 4 ภูมิภาค (การเมือง)
0  973     26/3/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [33]:
data9= data31[data31['4 ภูมิภาค (การเมือง)']=='เหนือ']
data9.head(1)

       No. announce_date  ...    จังหวัด 4 ภูมิภาค (การเมือง)
54854   17     31/1/2020  ...  เชียงใหม่                เหนือ

[1 rows x 13 columns]

In [34]:
data10= data31[data31['4 ภูมิภาค (การเมือง)']=='กลาง']
data10.head(1)

         No. announce_date  ...  จังหวัด 4 ภูมิภาค (การเมือง)
122423  5809    24/12/2020  ...  อ่างทอง                 กลาง

[1 rows x 13 columns]

In [35]:
data11= data31[data31['4 ภูมิภาค (การเมือง)']=='ใต้']
data11.head(1)

         No. announce_date  ... จังหวัด 4 ภูมิภาค (การเมือง)
748605  1530     31/3/2020  ...   ชุมพร                  ใต้

[1 rows x 13 columns]

###6 ภูมิภาค (อุตุนิยมวิทยา)

In [36]:
data32 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','6 ภูมิภาค (อุตุนิยมวิทยา)']]

In [37]:
data12= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออกเฉียงเหนือ']
data12.head(1)

   No. announce_date  ...     จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
0  973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [38]:
data13= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='เหนือ']
data13.head(1)

       No. announce_date  ...    จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
54854   17     31/1/2020  ...  เชียงใหม่                     เหนือ

[1 rows x 13 columns]

In [39]:
data14= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='กลาง']
data14.head(1)

        No. announce_date  ...    จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
114980  946     26/3/2020  ...  นครสวรรค์                      กลาง

[1 rows x 13 columns]

In [40]:
data15= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออก']
data15.head(1)

        No. announce_date  ...  จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
625652  286     20/3/2020  ...  นครนายก                  ตะวันออก

[1 rows x 13 columns]

In [41]:
data16= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
data16.head(1)

        No. announce_date  ...   จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
730647  838     25/3/2020  ...  เพชรบุรี  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย

[1 rows x 13 columns]

In [42]:
data17= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
data17.head(1)

        No. announce_date  ... จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
805674   24      4/2/2020  ...  กระบี่  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

[1 rows x 13 columns]

###5 ภูมิภาค (การท่องเที่ยว)

In [43]:
data33 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','5 ภูมิภาค (การท่องเที่ยว)']]

In [44]:
data18= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออกเฉียงเหนือ']
data18.head(1)

   No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [45]:
data19= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='เหนือ']
data19.head(1)

       No. announce_date  ...    จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
54854   17     31/1/2020  ...  เชียงใหม่                     เหนือ

[1 rows x 13 columns]

In [46]:
data20= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='กลาง']
data20.head(1)

         No. announce_date  ...  จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
122423  5809    24/12/2020  ...  อ่างทอง                      กลาง

[1 rows x 13 columns]

In [47]:
data21= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออก']
data21.head(1)

        No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
629960  120     16/3/2020  ...  ฉะเชิงเทรา                  ตะวันออก

[1 rows x 13 columns]

In [48]:
data22= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ใต้']
data22.head(1)

         No. announce_date  ... จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
748605  1530     31/3/2020  ...   ชุมพร                       ใต้

[1 rows x 13 columns]

## ข้อ2 เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

###6 ภูมิภาค (ภูมิศาสตร์)

In [49]:
data1.groupby('6 ภูมิภาค (ภูมิศาสตร์)')[['No.']].count().sort_values('No.',ascending=False) ##groupby จัดกลุ่ม6 ภูมิภาค (ภูมิศาสตร์)และนับจำนวนผู้ป่วย และเรียงข้อมูลตามคอลัมน์ No ascending=False คือเรียงข้อมูลจากมากไปน้อย

                           No.
6 ภูมิภาค (ภูมิศาสตร์)
กลาง                    530340
ตะวันออก                 85771
ใต้                      68325
ตะวันออกเฉียงเหนือ       54854
ตะวันตก                  43899
เหนือ                    33741

In [71]:
group_data = data1.groupby('6 ภูมิภาค (ภูมิศาสตร์)')['No.'].count().agg([max, min]) #agg คือ การหาค่า max , min ทั้ง dataframe
group_data

max    530340
min     33741
Name: No., dtype: int64

###4 ภูมิภาค (การเมือง)

In [51]:
data1.groupby('4 ภูมิภาค (การเมือง)')[['No.']].count().sort_values('No.',ascending=False)

                         No.
4 ภูมิภาค (การเมือง)
กลาง                  626182
ใต้                    68325
เหนือ                  67569
ตะวันออกเฉียงเหนือ     54854

In [52]:
group_data1 = data1.groupby('4 ภูมิภาค (การเมือง)')['No.'].count().agg([max, min]) 
group_data1

max    626182
min     54854
Name: No., dtype: int64

###6 ภูมิภาค (อุตุนิยมวิทยา)

In [53]:
data1.groupby('6 ภูมิภาค (อุตุนิยมวิทยา)')[['No.']].count().sort_values('No.',ascending=False)

                                   No.
6 ภูมิภาค (อุตุนิยมวิทยา)
กลาง                            525588
ตะวันออก                         90079
ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย   75027
เหนือ                            60126
ตะวันออกเฉียงเหนือ               54854
ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน   11256

In [54]:
group_data2 = data1.groupby('6 ภูมิภาค (อุตุนิยมวิทยา)')['No.'].count().agg([max, min]) 
group_data2

max    525588
min     11256
Name: No., dtype: int64

###5 ภูมิภาค (การท่องเที่ยว)

In [55]:
data1.groupby('5 ภูมิภาค (การท่องเที่ยว)')[['No.']].count().sort_values('No.',ascending=False)

                              No.
5 ภูมิภาค (การท่องเที่ยว)
กลาง                       540411
ตะวันออก                    85771
ใต้                         68325
เหนือ                       67569
ตะวันออกเฉียงเหนือ          54854

In [56]:
group_data2 = data1.groupby('5 ภูมิภาค (การท่องเที่ยว)')['No.'].count().agg([max, min]) 
group_data2

max    540411
min     54854
Name: No., dtype: int64

## ข้อ3 แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

###6 ภูมิภาค (ภูมิศาสตร์)

In [57]:
data30

           No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0          973     26/3/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                    ...
816925  807715     11/8/2021  ...        ตรัง                    ใต้
816926  807716     11/8/2021  ...        ตรัง                    ใต้
816927  807717     11/8/2021  ...        ตรัง                    ใต้
816928  807718     11/8/2021  ...        ตรัง                    ใต้
816929  807719     11/8/2021  ...        ตรัง                    ใต้

[816930 rows x 13 columns]

In [58]:
data30.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293642
อื่น ๆ                                            140749
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132362
อยู่ระหว่างการสอบสวน                              100094
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
SHUI                                                   1
สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน                       1
Cluster โรงงานทำขนม บางขุนเทียน                        1
สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)                  1
สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)              1

[120 rows x 1 columns]

###4 ภูมิภาค (การเมือง)

In [59]:
data31

           No. announce_date  ...     จังหวัด 4 ภูมิภาค (การเมือง)
0          973     26/3/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                  ...
816925  807715     11/8/2021  ...        ตรัง                  ใต้
816926  807716     11/8/2021  ...        ตรัง                  ใต้
816927  807717     11/8/2021  ...        ตรัง                  ใต้
816928  807718     11/8/2021  ...        ตรัง                  ใต้
816929  807719     11/8/2021  ...        ตรัง                  ใต้

[816930 rows x 13 columns]

In [60]:
data31.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293642
อื่น ๆ                                            140749
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132362
อยู่ระหว่างการสอบสวน                              100094
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
SHUI                                                   1
สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน                       1
Cluster โรงงานทำขนม บางขุนเทียน                        1
สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)                  1
สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)              1

[120 rows x 1 columns]

###6 ภูมิภาค (อุตุนิยมวิทยา)

In [61]:
data32

           No. announce_date  ...     จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
0          973     26/3/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                             ...
816925  807715     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816926  807716     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816927  807717     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816928  807718     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816929  807719     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

[816930 rows x 13 columns]

In [62]:
data32.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293642
อื่น ๆ                                            140749
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132362
อยู่ระหว่างการสอบสวน                              100094
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
SHUI                                                   1
สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน                       1
Cluster โรงงานทำขนม บางขุนเทียน                        1
สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)                  1
สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)              1

[120 rows x 1 columns]

###5 ภูมิภาค (การท่องเที่ยว)

In [63]:
data33

           No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0          973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                       ...
816925  807715     11/8/2021  ...        ตรัง                       ใต้
816926  807716     11/8/2021  ...        ตรัง                       ใต้
816927  807717     11/8/2021  ...        ตรัง                       ใต้
816928  807718     11/8/2021  ...        ตรัง                       ใต้
816929  807719     11/8/2021  ...        ตรัง                       ใต้

[816930 rows x 13 columns]

In [64]:
data33.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293642
อื่น ๆ                                            140749
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132362
อยู่ระหว่างการสอบสวน                              100094
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
SHUI                                                   1
สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน                       1
Cluster โรงงานทำขนม บางขุนเทียน                        1
สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)                  1
สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)              1

[120 rows x 1 columns]

## ข้อ4 สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

In [65]:
data1.groupby('province_of_onset')[['age']].mean()

                         age
province_of_onset
กระบี่             32.208304
กรุงเทพมหานคร      37.072211
กาญจนบุรี          35.021305
กาฬสินธุ์          34.668959
กำแพงเพชร          34.527877
...                      ...
เพชรบุรี           32.784109
เพชรบูรณ์          35.520759
เลย                35.458620
แพร่               34.440879
แม่ฮ่องสอน         34.002481

[77 rows x 1 columns]

## ข้อ5 สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

###6 ภูมิภาค (ภูมิศาสตร์)

In [66]:
data1.groupby('6 ภูมิภาค (ภูมิศาสตร์)')[['age']].mean().sort_values('age',ascending=False)

                              age
6 ภูมิภาค (ภูมิศาสตร์)
กลาง                    36.440935
เหนือ                   34.849274
ตะวันออกเฉียงเหนือ      34.780069
ตะวันออก                34.149042
ตะวันตก                 34.111852
ใต้                     33.799062

###4 ภูมิภาค (การเมือง)

In [67]:
data1.groupby('4 ภูมิภาค (การเมือง)')[['age']].mean().sort_values('age',ascending=False)

                            age
4 ภูมิภาค (การเมือง)
กลาง                  36.043601
เหนือ                 34.905868
ตะวันออกเฉียงเหนือ    34.780069
ใต้                   33.799062

###6 ภูมิภาค (อุตุนิยมวิทยา)

In [68]:
data1.groupby('6 ภูมิภาค (อุตุนิยมวิทยา)')[['age']].mean().sort_values('age',ascending=False)

                                      age
6 ภูมิภาค (อุตุนิยมวิทยา)
กลาง                            36.456832
เหนือ                           34.847803
ตะวันออกเฉียงเหนือ              34.780069
ตะวันออก                        34.218587
ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน  33.801940
ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย  33.565864

###5 ภูมิภาค (การท่องเที่ยว)

In [69]:
data1.groupby('5 ภูมิภาค (การท่องเที่ยว)')[['age']].mean().sort_values('age',ascending=False)

                                 age
5 ภูมิภาค (การท่องเที่ยว)
กลาง                       36.344294
เหนือ                      34.905868
ตะวันออกเฉียงเหนือ         34.780069
ตะวันออก                   34.149042
ใต้                        33.799062