<a href="https://colab.research.google.com/github/BooEiEi/data_viz_2022/blob/main/BasicPython%26DataViz_midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาใช้ข้อมูลจากตาราง confirmed_case.xlsx (จาก https://drive.google.com/drive/folders/1OmjM8ZgkEb10C4ZN44f-JxiBFaBwbWaM?usp=sharing) และข้อมูลจากตาราง 

ตอบคำถามต่อไปนี้ (โดยแสดงของการจัดภูมิภาคทั้ง 4 แบบ ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา และ การท่องเที่ยว) คะแนนเต็ม 100 คะแนน โดยคะแนน Midterm คิดเป็น 30% ของคะแนนทั้งหมด

เตรียมข้อมูล (20 คะแนน)

อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

มีอะไรสามารถโพสสอบถามได้ใน facebook group ภายใต้โพสของข้อสอบนี้

(คะแนน midterm เป็นคะแนนกลุ่ม)

In [124]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd

In [125]:
import os

In [126]:
from google.colab import drive #นำเข้าข้อมูลจาก drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [127]:
data_file_path = os.path.join(path,'confirmed-cases.csv')
data_df = pd.read_csv(data_file_path)

In [128]:
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [129]:
data_t = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '4 ภูมิภาค (การเมือง)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '6 ภูมิภาค (อุตุนิยมวิทยา)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
            '5 ภูมิภาค (การท่องเที่ยว)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}
df_t = pd.DataFrame.from_dict(data_t)
df_t

       จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ  ...        ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...        ตะวันออกเฉียงเหนือ
..         ...  ...                       ...
72       พังงา  ...                       ใต้
73      ภูเก็ต  ...                       ใต้
74       ระนอง  ...                       ใต้
75        สตูล  ...                       ใต้
76        ตรัง  ...                       ใต้

[77 rows x 5 columns]

In [130]:
set(data_df['province_of_onset'])

{nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'ขัยนาท',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสวรรค์',
 'นตรปฐม',
 'นนทบุรี',
 'นราธิวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บ้านหลวง',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ปมุมธานี',
 'ประจวบคีรีขันธ์',
 'ประจวบฯ',
 'ปราจีนบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปัตตานี',
 'ปัว',
 'ปุทมธานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลอง',
 'ลาดพร้าว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังชิ้น',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมถทรปราการ',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทราปราการ',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สอง',
 'สองแคว',
 'สะแก้ว',
 'สารภี',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี',
 'สุราษฏร์ธานี',
 'สุรินทร์',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุโขทัย',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวลำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุดรธานีี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่างทอง',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เด่นชัย',
 'เพชรบุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เมือง',
 'เมืองน่าน',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'ไม่ระบุ'}

In [131]:
set(data_df['province_of_isolation'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [132]:
data_df['age'].mean()

35.67704043728804

In [133]:
data_df = data_df.fillna(value={'age':data_df['age'].mean()})
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [134]:
data_df.isnull().any() #เช็คว่าในแต่ละคอลัมน์มีค่าว่าหรือป่าว

No.                      False
announce_date            False
Notified date             True
sex                       True
age                      False
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [135]:
data_df1 = data_df.fillna(method="bfill") #ใช้bfill การแทนที่ด้วยค่าถัดไปคือการนำค่าถัดไปที่มีค่า ของเซลล์ตัวเองมาแทนที่ลงในช่องที่เป็น NaN
data_df1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [136]:
data_df1

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร             เมือง
1            2     17/1/2020  ...     กรุงเทพมหานคร             เมือง
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร            หัวหิน
4            5     24/1/2020  ...     กรุงเทพมหานคร            หัวหิน
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [137]:
data1 = data_df1.merge(df_t,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')# ตารางด้านซ้าย.merge(ตารางด้านขวา,how=เอาตารางไหนเป็นตารางหลัก,left_on=indexตารางซ้ายคืออะไรหรือคีร์ที่ใช้เชื่อม,right_on=indexตารางขวา)
data1

           No.  ... 5 ภูมิภาค (การท่องเที่ยว)
0          973  ...        ตะวันออกเฉียงเหนือ
1         1864  ...        ตะวันออกเฉียงเหนือ
2         6493  ...        ตะวันออกเฉียงเหนือ
3         7390  ...        ตะวันออกเฉียงเหนือ
4        31038  ...        ตะวันออกเฉียงเหนือ
...        ...  ...                       ...
816385  807715  ...                       ใต้
816386  807716  ...                       ใต้
816387  807717  ...                       ใต้
816388  807718  ...                       ใต้
816389  807719  ...                       ใต้

[816390 rows x 16 columns]

## ข้อ1 อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

In [138]:
data30 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]

In [139]:
data2= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออกเฉียงเหนือ']
data2.head(1)

   No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0  973     26/3/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [140]:
data3= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='เหนือ']
data3.head(1)

       No. announce_date  ...    จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
54815   17     31/1/2020  ...  เชียงใหม่                  เหนือ

[1 rows x 13 columns]

In [141]:
data4= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันตก']
data4.head(1)

       No. announce_date  ... จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
88494  779     24/3/2020  ...     ตาก                ตะวันตก

[1 rows x 13 columns]

In [142]:
data5= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='กลาง']
data5.head(1)

       No. announce_date  ...  จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
99519  128     16/3/2020  ...  สุโขทัย                   กลาง

[1 rows x 13 columns]

In [143]:
data6= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออก']
data6.head(1)

        No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
629595  120     16/3/2020  ...  ฉะเชิงเทรา               ตะวันออก

[1 rows x 13 columns]

In [144]:
data7= data30[data30['6 ภูมิภาค (ภูมิศาสตร์)']=='ใต้']
data7.head(1)

         No. announce_date  ... จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
748220  1530     31/3/2020  ...   ชุมพร                    ใต้

[1 rows x 13 columns]

In [145]:
data31 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','4 ภูมิภาค (การเมือง)']]

In [146]:
data8= data31[data31['4 ภูมิภาค (การเมือง)']=='ตะวันออกเฉียงเหนือ']
data8.head(1)

   No. announce_date  ...     จังหวัด 4 ภูมิภาค (การเมือง)
0  973     26/3/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [147]:
data9= data31[data31['4 ภูมิภาค (การเมือง)']=='เหนือ']
data9.head(1)

       No. announce_date  ...    จังหวัด 4 ภูมิภาค (การเมือง)
54815   17     31/1/2020  ...  เชียงใหม่                เหนือ

[1 rows x 13 columns]

In [148]:
data10= data31[data31['4 ภูมิภาค (การเมือง)']=='กลาง']
data10.head(1)

         No. announce_date  ...  จังหวัด 4 ภูมิภาค (การเมือง)
122318  5809    24/12/2020  ...  อ่างทอง                 กลาง

[1 rows x 13 columns]

In [149]:
data11= data31[data31['4 ภูมิภาค (การเมือง)']=='ใต้']
data11.head(1)

         No. announce_date  ... จังหวัด 4 ภูมิภาค (การเมือง)
748220  1530     31/3/2020  ...   ชุมพร                  ใต้

[1 rows x 13 columns]

In [150]:
data32 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','6 ภูมิภาค (อุตุนิยมวิทยา)']]

In [151]:
data12= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออกเฉียงเหนือ']
data12.head(1)

   No. announce_date  ...     จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
0  973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [152]:
data13= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='เหนือ']
data13.head(1)

       No. announce_date  ...    จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
54815   17     31/1/2020  ...  เชียงใหม่                     เหนือ

[1 rows x 13 columns]

In [153]:
data14= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='กลาง']
data14.head(1)

        No. announce_date  ...    จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
114877  946     26/3/2020  ...  นครสวรรค์                      กลาง

[1 rows x 13 columns]

In [154]:
data15= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออก']
data15.head(1)

        No. announce_date  ...  จังหวัด 6 ภูมิภาค (อุตุนิยมวิทยา)
625287  286     20/3/2020  ...  นครนายก                  ตะวันออก

[1 rows x 13 columns]

In [155]:
data16= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
data16.head(1)

        No. announce_date  ...   จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
730265  838     25/3/2020  ...  เพชรบุรี  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย

[1 rows x 13 columns]

In [156]:
data17= data32[data32['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
data17.head(1)

        No. announce_date  ... จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
805135   24      4/2/2020  ...  กระบี่  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

[1 rows x 13 columns]

In [157]:
data33 = data1[['No.','announce_date','Notified date','sex','age','Unit','nationality','province_of_isolation','risk','province_of_onset','district_of_onset','จังหวัด','5 ภูมิภาค (การท่องเที่ยว)']]

In [158]:
data18= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออกเฉียงเหนือ']
data18.head(1)

   No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ

[1 rows x 13 columns]

In [159]:
data19= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='เหนือ']
data19.head(1)

       No. announce_date  ...    จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
54815   17     31/1/2020  ...  เชียงใหม่                     เหนือ

[1 rows x 13 columns]

In [160]:
data20= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='กลาง']
data20.head(1)

         No. announce_date  ...  จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
122318  5809    24/12/2020  ...  อ่างทอง                      กลาง

[1 rows x 13 columns]

In [161]:
data21= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออก']
data21.head(1)

        No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
629595  120     16/3/2020  ...  ฉะเชิงเทรา                  ตะวันออก

[1 rows x 13 columns]

In [162]:
data22= data33[data33['5 ภูมิภาค (การท่องเที่ยว)']=='ใต้']
data22.head(1)

         No. announce_date  ... จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
748220  1530     31/3/2020  ...   ชุมพร                       ใต้

[1 rows x 13 columns]

## ข้อ2 เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

In [166]:
data1.groupby('6 ภูมิภาค (ภูมิศาสตร์)')[['No.']].count().sort_values('No.',ascending=False) ##false คือเรียงข้อมูลจากมากไปน้อย

                           No.
6 ภูมิภาค (ภูมิศาสตร์)
กลาง                    530076
ตะวันออก                 85755
ใต้                      68170
ตะวันออกเฉียงเหนือ       54815
ตะวันตก                  43895
เหนือ                    33679

In [171]:
group_data = data1.groupby('6 ภูมิภาค (ภูมิศาสตร์)')['No.'].count().agg([max, min]) 
group_data

max    530076
min     33679
Name: No., dtype: int64

In [169]:
data1.groupby('4 ภูมิภาค (การเมือง)')[['No.']].count().sort_values('No.',ascending=False)

                         No.
4 ภูมิภาค (การเมือง)
กลาง                  625902
ใต้                    68170
เหนือ                  67503
ตะวันออกเฉียงเหนือ     54815

In [172]:
group_data1 = data1.groupby('4 ภูมิภาค (การเมือง)')['No.'].count().agg([max, min]) 
group_data1

max    625902
min     54815
Name: No., dtype: int64

In [167]:
data1.groupby('6 ภูมิภาค (อุตุนิยมวิทยา)')[['No.']].count().sort_values('No.',ascending=False)

                                   No.
6 ภูมิภาค (อุตุนิยมวิทยา)
กลาง                            525325
ตะวันออก                         90063
ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย   74870
เหนือ                            60062
ตะวันออกเฉียงเหนือ               54815
ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน   11255

In [173]:
group_data2 = data1.groupby('6 ภูมิภาค (อุตุนิยมวิทยา)')['No.'].count().agg([max, min]) 
group_data2

max    525325
min     11255
Name: No., dtype: int64

In [168]:
data1.groupby('5 ภูมิภาค (การท่องเที่ยว)')[['No.']].count().sort_values('No.',ascending=False)

                              No.
5 ภูมิภาค (การท่องเที่ยว)
กลาง                       540147
ตะวันออก                    85755
ใต้                         68170
เหนือ                       67503
ตะวันออกเฉียงเหนือ          54815

In [174]:
group_data2 = data1.groupby('5 ภูมิภาค (การท่องเที่ยว)')['No.'].count().agg([max, min]) 
group_data2

max    540147
min     54815
Name: No., dtype: int64

## ข้อ3 แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

In [188]:
data30

           No. announce_date  ...     จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0          973     26/3/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ     ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                    ...
816385  807715     11/8/2021  ...        ตรัง                    ใต้
816386  807716     11/8/2021  ...        ตรัง                    ใต้
816387  807717     11/8/2021  ...        ตรัง                    ใต้
816388  807718     11/8/2021  ...        ตรัง                    ใต้
816389  807719     11/8/2021  ...        ตรัง                    ใต้

[816390 rows x 13 columns]

In [187]:
data30.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293479
อื่นๆ                                             140513
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132349
อยู่ระหว่างการสอบสวน                               99875
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
ผู้ติดเชื้อในประเทศ                                    1
ผับหัวหิน                                              1
ตลาด                                                   1
ตรวจสุขภาพแรงงานต่างด้าว                               1
ปอดอักเสบ Pneumonia                                    1

[126 rows x 1 columns]

In [189]:
data31

           No. announce_date  ...     จังหวัด 4 ภูมิภาค (การเมือง)
0          973     26/3/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ   ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                  ...
816385  807715     11/8/2021  ...        ตรัง                  ใต้
816386  807716     11/8/2021  ...        ตรัง                  ใต้
816387  807717     11/8/2021  ...        ตรัง                  ใต้
816388  807718     11/8/2021  ...        ตรัง                  ใต้
816389  807719     11/8/2021  ...        ตรัง                  ใต้

[816390 rows x 13 columns]

In [180]:
data31.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293479
อื่นๆ                                             140513
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132349
อยู่ระหว่างการสอบสวน                               99875
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
ผู้ติดเชื้อในประเทศ                                    1
ผับหัวหิน                                              1
ตลาด                                                   1
ตรวจสุขภาพแรงงานต่างด้าว                               1
ปอดอักเสบ Pneumonia                                    1

[126 rows x 1 columns]

In [190]:
data32

           No. announce_date  ...     จังหวัด       6 ภูมิภาค (อุตุนิยมวิทยา)
0          973     26/3/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ              ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                             ...
816385  807715     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816386  807716     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816387  807717     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816388  807718     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน
816389  807719     11/8/2021  ...        ตรัง  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

[816390 rows x 13 columns]

In [193]:
data32.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293479
อื่นๆ                                             140513
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132349
อยู่ระหว่างการสอบสวน                               99875
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
ผู้ติดเชื้อในประเทศ                                    1
ผับหัวหิน                                              1
ตลาด                                                   1
ตรวจสุขภาพแรงงานต่างด้าว                               1
ปอดอักเสบ Pneumonia                                    1

[126 rows x 1 columns]

In [191]:
data33

           No. announce_date  ...     จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0          973     26/3/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1         1864      2/4/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
2         6493    30/12/2020  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
3         7390      3/1/2021  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
4        31038     10/4/2021  ...  อำนาจเจริญ        ตะวันออกเฉียงเหนือ
...        ...           ...  ...         ...                       ...
816385  807715     11/8/2021  ...        ตรัง                       ใต้
816386  807716     11/8/2021  ...        ตรัง                       ใต้
816387  807717     11/8/2021  ...        ตรัง                       ใต้
816388  807718     11/8/2021  ...        ตรัง                       ใต้
816389  807719     11/8/2021  ...        ตรัง                       ใต้

[816390 rows x 13 columns]

In [182]:
data33.groupby('risk')[['No.']].count().sort_values('No.',ascending=False)

                                                     No.
risk
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้       293479
อื่นๆ                                             140513
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน  132349
อยู่ระหว่างการสอบสวน                               99875
ทัณฑสถาน/เรือนจำ                                   51809
...                                                  ...
ผู้ติดเชื้อในประเทศ                                    1
ผับหัวหิน                                              1
ตลาด                                                   1
ตรวจสุขภาพแรงงานต่างด้าว                               1
ปอดอักเสบ Pneumonia                                    1

[126 rows x 1 columns]